{% extends '::base.html.twig' %}
{% block content_title %}
{% endblock %}
{% block content %}
    {#{{ render(controller('ApplicationSchoolBundle:Report:searchForm')) }}#}

    <table class="table table-striped">

        <thead>
        <tr>
            <th>№</th>
            <th>Учебный год</th>
            <th>Четверть</th>
            <th>Действие</th>
        </tr>
        </thead>

        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('report_report',{'id': report.id}) }}">{{ report.academicYear }}</a></td>
                <td><a href="{{ path('report_report',{'id': report.id}) }}">{{ report.quarter }}</a></td>
                <td><a href="{{ path('school_report_delete',{'id': report.id}) }}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(reports) }}
{% endblock %}