{% extends '::base.html.twig' %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Класс</th>
            <th>Руководитель класса</th>
            <th>Отчет</th>
            <th>Отчет</th>
        </tr>
        </thead>
        {% for classgroup in classgroups %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ classgroup.grade }} - {{ classgroup.alphabet }}</td>
                <td>{{ classgroup.personal }}</td>
                <td>
                    <a class="text-success" href="{{ path('classgroup_report_list',{'id': classgroup.id}) }}">Список</a>
                    <a href="{{ path('classgroup_report_list',{'id':classgroup.id, 'type':'pdf'}) }}">В PDF формат</a>
                </td>
                <td>
                    <a class="text-success" href="{{ path('classgroup_report_classgroup',{'id': classgroup.id}) }}">Получить
                        отчет</a>
                    <a href="{{ path('classgroup_report_classgroup',{'id':classgroup.id, 'type':'pdf'}) }}">В PDF
                        формат</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}